//variables
$menu-fuente:'heroic-3';
$banner-fecha-fuente: 'heroic-3'; 
$submenu-border: 1px solid #333333;
$submenu-color-hover:#1A1A1A;
$banner-color-texto:$COLOR-TEXTO1;
$lista-color-texto:$COLOR-TEXTO1;
$redes-color-fill:$COLOR-ENFASIS1;

.banner {
    /* background:chocolate; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 0 1em;
    }

.banner-logo {  
    width: 7.4em;
    margin: .1em 0;
}

.banner-buttonLogin {
    width: 1em;
    margin: .64em;
}

.banner-fecha {
    display:none;
}

.menu-lista {
    /* background:chocolate; */
    color: $lista-color-texto;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3,1fr);
}

.menu-lista-submenu {
    list-style: none;
    font-family: $menu-fuente;
    padding: .25em .1em;
    border-right: $submenu-border;
    border-bottom: $submenu-border;
    text-align:center;
}
.menu-lista-submenu:hover {
    background: $submenu-color-hover;
}

.menu-redes {
    display: none;
}

/* //OCULTAR ELEMENTOS DE LA LISTA DE MENU
.menu-lista :nth-child(2),:nth-child(4),:nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
    display: none;
}
 */

//VISTA DE ESCRITORIO 

@media screen and (min-width: 720px) {
    .banner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../img/Header.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;

    }

    .banner-buttonLogin{
        display: none;
    }   

    .banner-logo {  
    /* width: 100%; */
    width: 34em;
    margin: 0 .1em;
    display: flex;
    justify-content: center;
    }

    .banner-fecha {
        display: block;
        color:$banner-color-texto;
        margin-top: .9em;
        margin-bottom: 0;
        font-family: $banner-fecha-fuente;
        font-size: 1.16em;
    }

/*     //MOSTRAR ELEMENTOS DE LA LISTA DE MENU
    .menu-lista :nth-child(2),:nth-child(4),:nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8) {
        display: block;
    }
 */
    nav {
        border-top: $submenu-border;
        border-bottom: $submenu-border;
    }

    .menu-container {
        max-width: 950px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-lista {
       /*  background:chocolate; */
        justify-content: space-evenly;
        align-items: center;
        grid-template-columns: repeat(9,1fr);
    }

    .menu-lista-submenu {
        border-style: none;   
    }

    .menu-redes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 250px;
        padding-left: 2em;

    }
    
    .menu-redes-buttonFacebook, .menu-redes-buttonTwitter, .menu-redes-buttonRss {
        fill:$redes-color-fill;
        width: .9em;
        
    }
    
    .menu-redes-buttonFacebook {
        width: .6em;
    }

    .menu-redes-buttonLogin, .menu-redes-buttonBuscar {
        width: 1em;
        fill:white;
    }

    .menu-redes-buttonLogin {
       margin-left: 1em;
    }
    
} 