//variables
$article-color-texto: $COLOR-TEXTO1;
$article-color-fondo: $COLOR-FONDO;
$article-color-link: $COLOR-ENFASIS1;
$article-color-link-hover: $COLOR-ENFASIS2;
$seccion1-color-fondo:linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);


.seccion1 {
    background: $seccion1-color-fondo;
    color:$article-color-texto;

    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 2px;
    margin: .8em;
    h3{
        display: none;
    }
}

.seccion1-articulo {
    background: #000;
    width: 100%;
    display: flex;
    gap:.5em;
    padding: .4em;
}

.seccion1-articulo-imagen {
    max-width: 30%;
    height:min-content;
}

.seccion1-primero .seccion1-articulo-imagen{
    max-width: 50%;
}

p { 
    margin-top: -.2em;
    margin-bottom: .2em;
}

p a{
    color: $article-color-texto;
    text-decoration: none;
    }

a {
    color: $article-color-link;
    text-decoration: none;

}

a:hover {
    color:$article-color-link-hover;
}


@media screen and (min-width: 720px) {
    .seccion1{
        justify-content: center;
        gap: 2px;
    }
    .seccion1-articulo {
        padding:0;
        font-family: AdelleSans-Semibold;
        font-size: 1.2em;
        line-height: 1.2em;
        

        spam {
            font-family: heroic-3;
            font-size: .8em;
            text-transform: uppercase;
        }
    }

    .seccion1-articulo-descripcion {
        padding: .6em;
    }

    
    //cuadriculas grande
    .seccion1-cuadricula-grande {
        width: 65%;
        justify-content: center;
        align-items: center;
        position: relative;
        
        .seccion1-articulo-imagen {
            object-fit: cover;
            height:100%;
            max-width: 50%;
        }
        


        .seccion1-articulo-descripcion{
            p{
                font-family: heroic-3;
                font-size: 2.2em;
                font-weight: 600;
                line-height : 1em;
                text-transform: uppercase;
            }
        }
    }
    .seccion1-cuarto {
        flex-direction: row-reverse;
    }

    //cuadriculas pequeñas
    .seccion1-cuadricula-pequena {
        flex: 1 1 34%;
        flex-direction: column;

        .seccion1-articulo-imagen {
            max-width:100%;  
        }
    }

    //3 iguales pequeñas
    .seccion1-cuadricula-iguales{
        flex: 1 1 33%;
        flex-direction: column;

        .seccion1-articulo-imagen {
            max-width:100%;  
        }

    }

    //última cuadricula
    .seccion1-cuadricula-ultima {
        background:transparent;
        justify-content: center;
        align-items: center;
        margin: 2.5em 0;
        color:black;

        img {
            display: none;
        }
        .seccion1-articulo-titulo-ultimo {
            display: inherit;
            width: 50%;
            padding-left: .5em;
            font-family: heroic-1;
            font-size: 2.5em;
        }

        .seccion1-articulo-descripcion {
            display: flex;
            flex-wrap: wrap;
            text-align: right;

            p {
                width: 50%;
                order: -1;
                color:black;

                a {
                    color:black;
                }
            }

            spam {
                width: 50%;
                color:black;
                font-size: 1em;
                a {
                    color:black;
                }
            }

            
        }
    }

//decoración primera cuadricula
.seccion1-primero::before {
    background-color: #f7c626;
    bottom: 30px;
    content: "";
    height: 3px;
    left: 122px;
    position: absolute;
    width: 40%;
    z-index: 4;
    }

.seccion1-primero::after {
        background-color: #f7c626;
        bottom: 0;
        content: "";
        height: 3px;
        left: 65px;
        position: absolute;
        -webkit-transform: rotate(120deg);
        transform: rotate(120deg);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        width: 38px;
        z-index: 4;
    }

//decoración cuarta cuadricula
.seccion1-cuarto::before {
    background-color: #e5127d;
    bottom: 30px;
    content: "";
    height: 3px;
    position: absolute;
    right: 122px;
    width: 40%;
    z-index: 4;
    }

.seccion1-cuarto::after {
    background-color: #e5127d;
    bottom: 0;
    content: "";
    height: 3px;
    position: absolute;
    right: 65px;
    -webkit-transform: rotate(-120deg);
    transform: rotate(-120deg);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    width: 38px;
    z-index: 4;
    }

}