/*ESTILOS PARA CONTAINER TRES*/
.container2 {
    width: 1300px;
    height: 7350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.textos {
    position: relative;
    left: 250px;
    bottom: 90px;
}

.by1 {
    position: relative;
    left: 250px;
    bottom: 90px;
    color: darkred;
}

.cuadro {
    background-color: black;
    color: white;
    height: 150px;
    font-size: 17px;
}

h6 {
    font-size: 20px;
    position: relative;
    left: 50px;
}

.texto3 {
    color: darkred;
    position: relative;
    left: 400px;
    bottom: 50px;
}


/*ESTILOS PARA EL RECUADRO*/

.recuadro {
    width: 1050px;
    height: 65px;
    margin-right: auto;
    margin-left: auto;
    background-color: #E2197E;
}

.recuadro p {
    text-align: center;
    color: white;
    position: relative;
    top: 20px
}