//importar fuentes
  @font-face {
    font-family: 'heroic-normal';
    src: local('../fonts/heroic-cond-vrg-web-ltd-md.woff2'), local('../fonts/heroic-cond-vrg-web-ltd-md.woff2'),
        url('../fonts/heroic-cond-vrg-web-ltd-md.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
    

//variables Generales
    //colores
    $COLOR-FONDO: #000;
    $COLOR-TEXTO1:white;
    $COLOR-ENFASIS1:#E2127A;
    $COLOR-ENFASIS2:#B30E61;

  
  

//Importaciones 
@import "header";
@import "aside";
@import "seccion1";
@import "seccion2";
@import "seccion3";
@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $COLOR-FONDO;
}