///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'AdelleSans-Italic';
    src: local('../fonts/AdelleSans-Italic.woff2'), local('../fonts/AdelleSans-Italic.woff2'),
        url('../fonts/AdelleSans-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

///////////////////////////////////////////////////////////////
  @font-face {
    font-family: 'AdelleSans-Semibold';
    src: local('../fonts/AdelleSans-Semibold.woff2'), local('../fonts/AdelleSans-Semibold.woff2'),
        url('../fonts/AdelleSans-Semibold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

///////////////////////////////////////////////////////////////
  @font-face {
    font-family: 'heroic-1';
    src: local('../fonts/heroic-cond-vrg-web-ltd-bd-obq.woff2'), local('../fonts/heroic-cond-vrg-web-ltd-bd-obq.woff2'),
        url('../fonts/heroic-cond-vrg-web-ltd-bd-obq.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'heroic-2';
    src: local('../fonts/heroic-cond-vrg-web-ltd-hvy.woff2'), local('../fonts/heroic-cond-vrg-web-ltd-hvy.woff2'),
        url('../fonts/heroic-cond-vrg-web-ltd-hvy.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'heroic-3';
    src: local('../fonts/heroic-cond-vrg-web-ltd-md.woff2'), local('../fonts/heroic-cond-vrg-web-ltd-md.woff2'),
        url('../fonts/heroic-cond-vrg-web-ltd-md.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'heroic-4';
    src: local('../fonts/heroic-cond-vrg-web-ltd-md-obq.woff2'), local('../fonts/heroic-cond-vrg-web-ltd-md-obq.woff2'),
        url('../fonts/heroic-cond-vrg-web-ltd-md-obq.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }


///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'nittigrotesk-normal';
    src: local('../fonts/nittigrotesk-normal.woff2'), local('../fonts/nittigrotesk-normal.woff2'),
        url('../fonts/nittigrotesk-normal.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }


///////////////////////////////////////////////////////////////
@font-face {
    font-family: 'pathways-normal';
    src: local('../fonts/pathways-normal-webfont.woff2'), local('../fonts/pathways-normal-webfont.woff2'),
        url('../fonts/pathways-normal-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
